manifest {
    nextflowVersion = '>=26.04.6'
}

includeConfig 'conf/base.config'

profiles {
    standard {
        docker.enabled = true
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    test {
        docker.enabled = true
        includeConfig 'conf/test.config'
    }
    testing {
        docker.enabled = true
        includeConfig 'conf/test.config'
    }
}
