params {
    container__maliampi_tools = 'ghcr.io/jgolob/maliampi-tools:0.1.0'
    container__infernal = 'quay.io/biocontainers/infernal:1.1.5--pl5321h7b50bb2_4'
    container__easel = 'quay.io/biocontainers/easel:0.49--hb6cb901_3'
    container__epang = 'quay.io/biocontainers/epa-ng:0.3.8--h077b44d_7'
    container__gappa = 'quay.io/biocontainers/gappa:0.9.0--h077b44d_0'
    container__pplacer = 'quay.io/biocontainers/pplacer:1.1.alpha22--hd563303_0'
    container__dada2 = 'quay.io/biocontainers/bioconductor-dada2:1.38.0--r45ha27e39d_0'
    container__fastqc = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    container__trimgalore = 'quay.io/biocontainers/trim-galore:2.3.0--hf1b6044_0'
    container__vsearch = 'quay.io/biocontainers/vsearch:2.31.0--hd2be7a0_0'
    container__swarm = 'quay.io/biocontainers/swarm:3.1.6--h9948957_0'
    container__raxmlng = 'quay.io/biocontainers/raxml-ng:2.0.2--h870a6a7_0'
    container__raxml = 'quay.io/biocontainers/raxml:8.2.13--h7b50bb2_3'
    container__taxtastic = 'quay.io/biocontainers/taxtastic:0.12.0--pyhdfd78af_0'
    // Independent phylotypes utility; its release lifecycle is separate from MaliAmPi.
    container__phylotypes = 'ghcr.io/jgolob/phylotypes:2.1.0'
    cmalign_mxsize = 2048
    pplacer_prior_lower = 0.01
    phylotype_thresholds = [0.1, 0.3, 1.0]
    phylotype_kr_thresholds = []
    phylotype_add_thresholds = []
    phylotype_lwr_overlap = 0.1
    phylotype_distance = 'legacy'
    // Shared read-filter defaults for DADA2 and standalone Swarm entrypoints.
    trimLeft = 0
    maxN = 0
    maxEE = 'Inf'
    truncLenF = 0
    truncLenR = 0
    truncQ = 2
    swarm_d = 1
    goods_convergence_delta = 0.0001
    goods_min_reads = 30
    goods_min_prevalence = 2
    goods_seed = 1
    goods_keep_nonconverged = false
}

process {
    withLabel: 'maliampi_tools' {
        containerOptions = '--platform linux/amd64'
    }

    withLabel: 'io_limited' {
        cpus = 2
        memory = 4.GB
    }
    withLabel: 'io_net' {
        cpus = 2
        memory = 4.GB
    }
    withLabel: 'multithread' {
        cpus = 4
        memory = 30.GB
    }
    withLabel: 'mem_medium' {
        cpus = 4
        memory = 30.GB
    }
    withLabel: 'mem_veryhigh' {
        cpus = 16
        memory = 120.GB
    }
}
