params {
    manifest = "${projectDir}/maliampi-practice-data/autotest_manifest.csv"
    repo_fasta = "${projectDir}/maliampi-practice-data/test.repo.fasta"
    repo_si = "${projectDir}/maliampi-practice-data/test.repo.seq_info.csv"
    taxdmp = "${projectDir}/maliampi-practice-data/taxdmp.zip"
    email = 'test@example.com'
    output = 'output'
    dataset_id = 'autotest'
}

process {
    withLabel: 'io_limited' {
        cpus = 1
        memory = 1.GB
    }
    withLabel: 'io_net' {
        cpus = 1
        memory = 1.GB
    }
    withLabel: 'multithread' {
        cpus = 1
        memory = 4.GB
    }
    withLabel: 'mem_medium' {
        cpus = 1
        memory = 4.GB
    }
    withLabel: 'mem_veryhigh' {
        cpus = 1
        memory = 6.GB
    }
}
